$clr-main-bg: #fff;
$clr-main-bg-hover: #ededed;
$clr-text: #2c3e50;
$clr-text-secondary: #2c3e50b0;
$clr-danger: #a30000;
$clr-action: #007bff;
$clr-action-text: #fff;
$clr-action-disabled: #007bff6e;
