$clr-white: #ffffff;
$clr-light: #f8f8f8;
$clr-dark-gunmetal: #242628;
$clr-very-light-blue: #6274ff;
$clr-auro-metal-saurus: #6c757d;
$clr-bright-gray: #e7edf2;
$clr-chinese-black: #111111;
$clr-dark-blue: #2f344f;
$clr-dark-1: #1e1e1f;
$clr-azureish-white: #dadef9;

$clr-chinese-white: #d9f0dd;
$clr-wageningen-green: #33a933;
$clr-green: #89c794;
$clr-red: #d77780;
$clr-soft-magic-potion: #fddcdf;
$clr-magic-potion: #f65160;

$clr-main-bg: #ffffff;
$clr-splash-bg: #66b0ff;
$clr-text: #212529;
$clr-text-muted: #6c757d;
$clr-text-on-action: #ffffff;
$clr-action: #007bff;
$clr-action-disabled: #bfdefb;
$clr-danger: #a30000;
$clr-action-extra-muted: #e4f2fc;
$clr-grey-bg: #f7f7f7;
$clr-light-blue: #cce4ff;
$clr-light-gray: #ced4da;

// Header
$clr-bright-gray: #e7edf2;
$clr-silver-sand: #c6c6c6;
$clr-levender-blue: #c0c7ff;

// Nav
$clr-nav-switch-background: #f3f3f3;

// Buttons
$clr-btn-normal: #6274ff;
$clr-btn-hover: #66b0ff;
$clr-btn-pressed: #053f7d;
$clr-btn-focused: #66b0ff;
$clr-btn-focused-border: #007bff;
$clr-btn-disabled: #c0c7ff;

// Inputs
$clr-input-bg: #ffffff;
$clr-input-bg-disabled: #fafafa;
$clr-input-border: #ced4da;

// Tables
$clr-table-border: #e1e5e9;
$clr-table-row-hover: #cce4ff;
$clr-table-head: #007bff29;

// Dropdowns
$clr-dropdown-shadow: #0857ac14;
$clr-dropdown-link: #cce4ff66;

// Tips
$clr-tooltip-bg: #053f7d;
$clr-tooltip-text: #ffffff;

// Modals
$clr-modal-backdrop-bg: #6c757d;
$clr-modal-content-bg: #ffffff;
$clr-modal-content-shadow: #00193314;
$clr-modal-field-bg: #f5f6f7;
// Scrollbar
$clr-scrollbar-thumb: #d8e0f0;
$clr-scrollbar-track: #f5f8ff;

// Progressbar
$clr-progressbar-track: #edf5ff;
$clr-progressbar-positive: #007bff;
$clr-progressbar-negative: #f65160;

// Status
$clr-status-default: #6c757d;

$clr-status-success: #00d097;
$clr-status-pending: #fdc748;
$clr-status-error: #f65160;
$clr-status-progress: #66b0ff;
$clr-oracle-status-success: #00b07f;
$clr-oracle-status-error: #f65160;

// Chart
$clr-chart-default: #ced4da;

// Frame
$clr-frame-border: #e1e5e9;
$clr-frame-box-shadow: #00000029;

// Wallet
$clr-wallet-info-border: #e1e5e9;
$clr-wallet-info-box-shadow: #00000029;

// Vue Picker
$clr-vue-picker-box-shadow: #00000014;
$clr-vue-picker-current-option: #cce4ff66;

// Vue Notifications
$clr-vue-notifications-box-shadow: #00000066;
$clr-vue-notifications-failed-border: #fcced2;
$clr-vue-notifications-success-border: #64ffd5;
$clr-vue-notifications-info-border: #66b0ff;

// Auth
$clr-auth-base-bg: #031e3a;

// Vue Skeleton Loader
$clr-vue-skeleton-loader-bg: #e1e5e9;
$clr-vue-skeleton-loader-bg-dark: #6c757d;
