$clr-main-bg: #fff;
$clr-splash-bg: #66b0ff;
$clr-text: #212529;
$clr-text-muted: #6c757d;
$clr-text-on-action: #fff;
$clr-action: #007bff;
$clr-action-disabled: #bfdefb;
$clr-danger: #a30000;
$clr-action-extra-muted: #e4f2fc;

// Inputs
$clr-input-bg: #fff;
$clr-input-bg-disabled: #fafafa;
$clr-input-border: #ced4da;

// Tables
$clr-table-border: #cce4ff;
$clr-table-row-hover: #cce4ff;

// Dropdowns
$clr-dropdown-shadow: #0000001a;

// Tips
$clr-tooltip-bg: #000000;
$clr-tooltip-text: #fff;
