.app-btn {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.4rem;
  background: var(--clr__btn-normal);
  color: var(--clr__text-on-action);
  border: 1px solid transparent; // to sync position with the outlined btn
  border-radius: 0.4rem;
  padding: 1.1rem 2.3rem;
  white-space: nowrap;

  @include transition(background);

  &_outlined {
    background: var(--clr__main-bg);
    color: var(--clr__action);
    border: 1px solid var(--clr__btn-normal);
  }

  &_small {
    font-size: 1.6rem;
    padding: 0.5rem 2.3rem;
  }

  &:focus {
    color: var(--clr__text-on-action);
    border: 1px solid var(--clr__btn-normal);
    background: var(--clr__btn-hover);
  }

  &:hover {
    color: var(--clr__text-on-action);
    border: 1px solid transparent;
    background: var(--clr__btn-hover);
  }

  &:active {
    color: var(--clr__text-on-action);
    border: 1px solid transparent;
    background: var(--clr__btn-pressed);
  }

  &:disabled {
    color: var(--clr__text-on-action);
    border: 1px solid transparent;
    background: var(--clr__btn-disabled);
  }
}

.app-ico-btn {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  @include transition(background-color);

  &:hover {
    background-color: var(--clr__action-extra-muted);
  }

  & > img {
    margin: auto;
  }
}

.app-nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  background: var(--clr__action);
  width: 4.8rem;
  height: 4.8rem;

  @include transition(background);

  &_white {
    background: var(--clr__main-bg);
    border: 1px solid var(--clr__btn-normal);
  }

  &:hover {
    border: 1px solid transparent;
    background: var(--clr__btn-hover);
  }

  &:active {
    border: 1px solid transparent;
    background: var(--clr__btn-pressed);
  }

  &:disabled {
    border: 1px solid transparent;
    background: var(--clr__btn-disabled);
  }
}
