.info-card {
  display: flex;
  flex-direction: column;
  width: 70.5rem;

  &__content {
    & > *:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
  }

  &__row-title {
    display: inline-block;
    min-width: 10rem;
  }

  &__row-value {
    font-weight: 600;

    &_txt {
      @include ellipsis();
    }
  }

  &__row-link {
    text-decoration: none;
    color: var(--clr__action);
  }

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
.card-frame {
  padding: 3.2rem;
  border: 0.1rem solid var(--clr__frame-border);
  box-shadow: 0 0.4rem 0.8rem var(--clr__frame-box-shadow);
  border-radius: 0.8rem;
  @media screen and (max-width: 768px) {
    padding: 3.2rem 2.4rem;
  }
}

body.dark {
  .info-card {
    &__row-link {
      color: var(--d-clr__action);
    }
  }
}
