html,
body {
  ::-webkit-scrollbar {
    width: 0;
  }
}

// transition for <transition> START
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(2rem);
  opacity: 0;
}
// transition for <transition> END

.loading {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 0.3rem solid rgba($clr-action, 0.3);
  border-radius: 50%;
  border-top-color: var(--clr__action);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  z-index: 1;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 600;
  color: var(--clr__input-border);
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
