// @font-face {
//   font-family: 'New Order';
//   src: url('@/assets/fonts/ArchimotoV01-Black.otf') format('opentype');
//   font-weight: 400; /* Medium */
// }

@font-face {
  font-family: 'Archi moto';
  src: url('@/assets/fonts/ArchimotoV01-Regular.otf') format('opentype');
  font-weight: 400; /* Regular */
}

@font-face {
  font-family: 'Archi moto';
  src: url('@/assets/fonts/ArchimotoV01-Medium.otf') format('opentype');
  font-weight: 500; /* Medium */
}

@font-face {
  font-family: 'Archi moto';
  src: url('@/assets/fonts/ArchimotoV01-Thin.otf') format('opentype');
  font-weight: 700; /* Bold */
}

body,
html {
  font-family: 'Archi moto', sans-serif;
  color: var(--clr__main-text);
}