@font-face {
  font-family: 'Atlas Grotesk Web Regular';
  src: url('@/assets/fonts/AtlasGrotesk-Regular.otf') format('opentype');
}

body,
html {
  font-family: 'Atlas Grotesk Web Regular', sans-serif;
  color: var(--clr__main-text);
}