@mixin input-placeholder {
  color: var(--clr__text-muted);
}

.app-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 4.8rem);

  &__title {
    font-weight: normal;
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  &__main {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    max-height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.8rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--clr__scrollbar-thumb);
      border-radius: 0.5rem;
    }

    &::-webkit-scrollbar-track {
      background: var(--clr__scrollbar-track);
      border-radius: 0.5rem;
    }

    ._vue-picker {
      width: 100%;
      border: 1px solid var(--clr__input-border);
      border-radius: 0.4rem;
    }
  }
  &__field {
    &--wait {
      &-text {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.8rem;
        font-weight: 900;
      }
    }
  }

  &__field,
  &__field-composed {
    display: block;

    &:not(:first-of-type) {
      margin-block-start: 1.2rem;
    }
  }

  &__field-composed {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    & > .app-form__field:not(:first-of-type) {
      margin-block-start: 0;
      margin-inline-start: 1.6rem;
    }
  }

  &__field-lbl {
    display: block;
    margin-block-end: 0.8rem;
  }

  &__field-input {
    display: block;
    width: 100%;
    padding: 0.8rem 1.2rem;
    text-overflow: ellipsis;
    border: 1px solid var(--clr__input-border);
    border-radius: 0.4rem;

    &::-webkit-input-placeholder {
      @include input-placeholder;
    }

    &::-moz-placeholder {
      @include input-placeholder;
    }

    &:-moz-placeholder {
      @include input-placeholder;
    }

    &:-ms-input-placeholder {
      @include input-placeholder;
    }

    &::placeholder {
      @include input-placeholder;
    }
    &--disabled {
      &-no_border {
        border: 1px solid transparent;
      }
    }
  }

  &__field-input-wrapper {
    position: relative;

    .app-form__field-input {
      padding: 0.8rem 5rem 0.8rem 1.2rem;
    }

    span {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
      pointer-events: none;
      color: var(--clr__text-muted);
    }
  }

  &__field-note {
    display: block;
    color: var(--clr__text-muted);
    margin-block-start: 0.8rem;
  }

  &__field-err {
    display: block;
    color: var(--clr__danger);
    margin-block-start: 0.8rem;
  }

  &__footer {
    display: flex;
    margin-block-start: 3.2rem;
    padding: 0 1rem;

    & > * {
      flex: 1;
    }

    & > *:not(:first-child) {
      margin-inline-start: 2.4rem;
    }
  }
}
