@mixin input-placeholder {
  color: var(--clr__text-muted);
}

.app-form {
  display: block;
}

.app-form__field,
.app-form__field-composed {
  display: block;

  &:not(:first-of-type) {
    margin-block-start: 1.2rem;
  }
}

.app-form__field-composed {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  & > .app-form__field:not(:first-of-type) {
    margin-block-start: 0;
    margin-inline-start: 1.6rem;
  }
}

.app-form__field-lbl {
  display: block;
  margin-block-end: 0.8rem;
}

.app-form__field-input {
  display: block;
  width: 100%;
  padding: 0.8rem 1.2rem;
  text-overflow: ellipsis;
  border: 1px solid var(--clr__input-border);
  border-radius: 0.4rem;

  &::-webkit-input-placeholder {
    @include input-placeholder;
  }

  &::-moz-placeholder {
    @include input-placeholder;
  }

  &:-moz-placeholder {
    @include input-placeholder;
  }

  &:-ms-input-placeholder {
    @include input-placeholder;
  }

  &::placeholder {
    @include input-placeholder;
  }
}

.app-form__field-note {
  display: block;
  color: var(--clr__text-muted);
  margin-block-start: 0.8rem;
}

.app-form__field-err {
  display: block;
  color: var(--clr__danger);
  margin-block-start: 0.8rem;
}

.app-form__footer {
  display: block;
  margin-block-start: 1.6rem;

  & > *:not(:first-child) {
    margin-inline-start: 0.8rem;
  }
}
