.modal-base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal-base__backdrop {
  background: var(--clr__modal-backdrop-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.modal-base__content {
  background: var(--clr__modal-content-bg);
  border-radius: 0.8rem;
  padding: 3.2rem 2rem;
  z-index: 1;
  width: 100%;
  max-width: 41.2rem;
  max-height: 100%;
  overflow: visible;
  box-shadow: 0 0.4rem 2.4rem var(--clr__modal-content-shadow);
}

.modal-base__content-head {
  padding: 0 1rem;
  margin-bottom: 3.2rem;
}

.modal-base--right {
  .modal-base__content {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    overflow: unset;
  }
}

.modal-undelegate-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.modal-undelegate-form__backdrop {
  background: var(--clr__modal-backdrop-bg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.modal-undelegate-form__content {
  background: var(--clr__modal-content-bg);
  border-radius: 0.8rem;
  padding: 3.2rem 2rem;
  z-index: 1;
  width: 100%;
  max-width: 41.2rem;
  max-height: 100%;
  overflow: visible;
  box-shadow: 0 0.4rem 2.4rem var(--clr__modal-content-shadow);
}

.modal-undelegate-form__content-head {
  padding: 0 1rem;
}

.modal-undelegate-form--right {
  .modal-undelegate-form__content {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 100%;
    overflow: unset;
  }
}