.modal-base {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.6rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  &__backdrop {
    background: var(--clr__modal-backdrop-bg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  &__content {
    background: var(--clr__modal-content-bg);
    border-radius: 0.8rem;
    padding: 3.2rem 2rem;
    z-index: 1;
    width: 100%;
    max-width: 41.2rem;
    max-height: 100%;
    overflow: visible;
    box-shadow: 0 0.4rem 2.4rem var(--clr__modal-content-shadow);
  }

  &__content-head {
    padding: 0 1rem;
  }

  &_right {
    .modal-base__content {
      position: absolute;
      right: 0;
      top: 0;
      border-radius: 0;
      height: 100%;
      overflow: unset;
    }
  }
}
