:root {
  --clr__main-bg: #{$clr-main-bg};
  --clr__splash-bg: #{$clr-splash-bg};
  --clr__text: #{$clr-text};
  --clr__text-muted: #{$clr-text-muted};
  --clr__text-on-action: #{$clr-text-on-action};
  --clr__action: #{$clr-action};
  --clr__action-disabled: #{$clr-action-disabled};
  --clr__danger: #{$clr-danger};
  --clr__action-extra-muted: #{$clr-action-extra-muted};

  // Inputs
  --clr__input-bg: #{$clr-input-bg};
  --clr__input-bg-disabled: #{$clr-input-bg-disabled};
  --clr__input-border: #{$clr-input-border};

  // Tables
  --clr__table-border: #{$clr-table-border};
  --clr__table-row-hover: #{$clr-table-row-hover};

  // Shadows
  --clr__dropdown-shadow: #{$clr-dropdown-shadow};

  // Tips
  --clr__tooltip-bg: #{$clr-tooltip-bg};
  --clr__tooltip-text: #{$clr-tooltip-text};
}
