.fs-cut {
  @include ellipsis;
}

.mg-t8 {
  margin-top: 0.8rem;
}
.mg-b8 {
  margin-bottom: 0.8rem;
}

.fx-cont {
  @include flex-container;
}

.fx-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  &_gap-8 {
    & > *:not(:first-child) {
      margin-left: 0.8rem;
    }
  }
}
