.app-table {
  display: block;
  margin-bottom: 2.4rem;
  &__title {
    display: none;
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__head,
  &__row {
    display: grid;
    grid: auto / auto-flow minmax(0, 1fr);
    gap: 2.4rem;
  }

  &__head {
    font-size: 1.4rem;
    padding-bottom: 0.8rem;
    font-weight: 300;
  }

  &__row {
    align-items: flex-start;
    padding: 3.2rem 0 2rem;
    border-bottom: 1px solid var(--clr__table-border);
  }

  &__cell {
    display: flex;
    min-width: 0;
  }

  &__cell-txt {
    @include ellipsis(inline-block);
  }

  &__link {
    text-decoration: none;
    color: var(--clr__action);
  }

  &__time {
    display: flex;
    flex-direction: column;
  }

  &__empty-stub {
    margin: 1.5rem 0;
    text-align: center;
  }
}

.info-table {
  &__row {
    display: flex;
    padding: 1.6rem 0;
    border-bottom: 1px solid var(--clr__table-border);
  }

  &__row-title {
    display: inline-block;
    min-width: 18.4rem;
  }

  &__row-value {
    font-weight: 400;
    &_flex {
      display: flex;
      min-width: 0;
    }
  }

  &__row-link {
    @include ellipsis(inline-block);
    color: var(--clr__action);
    text-decoration: none;
    font-weight: 400;
  }

  &__row-txt {
    overflow-wrap: anywhere;
  }
}

@media screen and (max-width: 768px) {
  .app-table {
    &__head {
      display: none;
    }

    &__title {
      display: inline-block;
      min-width: 170px;
      margin-right: 2.4rem;
    }

    &__row {
      grid: none;
      padding: 3.4rem 0 1.6rem;
    }
  }
}
@media screen and (max-width: 480px) {
  .app-table {
    &__title {
      min-width: 130px;
    }
  }
}
.data-sources__table-head,
.data-sources__table-row {
  grid:
    auto /
    minmax(4rem, 2fr)
    minmax(4rem, 2fr)
    minmax(4rem, 2fr)
    minmax(4rem, 2fr)
    minmax(8rem, 1fr)
    minmax(8rem, 1fr);
}
.requests__table-head,
.requests__table-row {
  grid:
    auto /
    minmax(7rem, 0.5fr)
    minmax(8rem, 3fr)
    minmax(10rem, 1fr)
    minmax(8rem, 2fr)
    minmax(10rem, 1.5fr);
}
.validators__table-head,
.validators__table-row,
.validators-table-row {
  gap: 2rem;
  grid:
    auto /
    minmax(2rem, 5rem)
    minmax(5rem, 1fr)
    minmax(6rem, 0.5fr)
    minmax(8rem, 0.5fr)
    minmax(7rem, 0.5fr)
    minmax(6rem, 8rem)
    minmax(24rem, 1.5fr);
}
.oracle-scripts__table-head,
.oracle-scripts__table-row {
  grid:
    auto /
    minmax(2rem, 0.5fr)
    minmax(4rem, 2fr)
    minmax(4rem, 3fr)
    minmax(10rem, 2fr)
    minmax(8rem, 2fr);
}
.oracle-validators__table-head,
.oracle-validators__table-row {
  grid:
    auto /
    minmax(10rem, 0.7fr)
    minmax(10rem, 0.5fr)
    minmax(10rem, 2fr)
    minmax(10rem, 0.1fr);
}
.governance__table-head,
.governance__table-row {
  grid:
    auto /
    minmax(3rem, 5rem)
    minmax(8rem, 1fr)
    minmax(8rem, 2fr)
    minmax(11rem, 0.5fr);
}
.requests-oracle-script__head,
.requests-oracle-script__row {
  grid:
    auto /
    minmax(3rem, 0.5fr)
    minmax(8rem, 2fr)
    minmax(8rem, 0.5fr);
}
.requests-data-source__head,
.requests-data-source__row {
  grid:
    auto /
    minmax(3rem, 1fr)
    minmax(8rem, 2fr)
    minmax(8rem, 0.5fr);
}
.delegators-table__table-head,
.delegators-table__table-row {
  grid:
    auto /
    minmax(8rem, 4fr)
    minmax(8rem, 2fr);
}
@include respond-to(tablet) {
  .data-sources__table-row,
  .requests__table-row,
  .validators__table-row,
  .oracle-scripts__table-row,
  .oracle-validators__table-row,
  .governance__table-row,
  .requests-oracle-script__row,
  .requests-data-source__row,
  .delegators-table__table-row,
  .validators-table-row   {
    grid: none;
  }
}