.view-main {
  width: 100%;
  max-width: 1400px;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.header-wrapper {
  padding: 25px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:54px;
  margin: 0 103px;
  max-width: 100%;
}

.view-header {
  border-bottom: 1px solid #CCE4FF;
  margin-bottom: 30px;
}

h2.view-title {
  font-size: 3.2rem;
  line-height: 4.6rem;
}
