.app__main-content {
  flex: 1;
  background-color: var(--clr__main-bg);
  transition: all 0.3s;
}

.app__main-content.sidebar-open {
  padding-left: 24rem;
}

.app__main-content.sidebar-close {
  padding-left: 0rem;
}

@include respond-to(medium) {
  .app__main-content,
  .app__main-content.sidebar-open {
    padding-left: 0rem !important;
  }
}

.app__main-view {
  width: 100%;
  max-width: 140rem;
  min-height: calc(100vh - 181.65px);
  padding: 3rem 3.2rem;
  margin: 0px auto;
}

.app__main-view-table-header {
  display: flex;
  align-items: center;
  margin-bottom: 4.2rem;
}

.app__main-view-table-header-prefix {
  width: 56px;
  height: 56px;
  padding: 1.6rem;
  background-color: var(--clr__table-header-prefix-bg);
  border-radius: 0.8rem;
}

.app__main-view-table-header-prefix > span {
  color: var(--clr__secondary);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}

.app__main-view-table-header-info {
  margin-left: 1.6rem;
}

.app__main-view-table-header-info-title {
  font-size: 2.4rem;
  font-weight: 400;
}

.app__main-view-table-header-info-count {
  color: var(--clr__text-muted);
  font-size: 1.6rem;
}

.app__main-view-detail-container {
  display: flex;
  margin-bottom: 4rem;
}

.app__main-view-detail-back-icon {
  margin-top: 1rem;
  margin-right: 2rem;
}

.app__main-view-detail-title-container {
  max-width: 90%;
}

.app__main-view-detail-title {
  font-size: 2.4rem;
  font-weight: 400;
}

.app__main-view-detail-subtitle-container {
  display: flex;
}

.app__main-view-detail-subtitle {
  color: var(--clr__text-muted);
  font-size: 1.6rem;
  font-weight: 400;
  @include ellipsis();
}

.view-main {
  width: 100%;
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  &__subtitle {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 400;

    @include respond-to(tablet) {
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }

  &__title {
    font-size: 3.2rem;
    line-height: 4.6rem;
    font-weight: 400;

    @include respond-to(tablet) {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }
  }

  &__title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;

    @include respond-to(tablet) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 1.6rem;
    }
  }

  &__mobile-activities {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.4rem 1.6rem;
    box-shadow: 0rem -0.5rem 1.2rem -0.5rem rgba(0, 0, 0, 0.1);
    background-color: var(--clr__main-bg);

    @include respond-to(tablet) {
      display: block;
    }
  }

  @include respond-to(x-small) {
    padding: 0 1.6rem;
  }
}
