.vue-notification-group {
  width: 100%;
  max-width: 40rem;
  min-width: 30rem;
  top: 80%;
  right: 0;
  .vue-notification {
    max-width: 36.1rem;
    min-width: 28rem;
    margin: 1rem;
    background: #ffffff;
    color: black;
    box-shadow: 0px 4px 16px rgba(0, 25, 51, 0.16);
    border-radius: 16px;
    padding: 24px 32px;
    &.warn,
    &.success,
    &.error {
      border: none;
    }
  }
  .notification-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #212529;
  }
  .notification-content {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #6c757d;
  }
  @include respond-to(tablet) {
    top: 2%;
    right: 0;
  }
}