.app__loader {
  display: flex;
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  transform: translate(-50%, -50%);
  transform-origin: center;
  border: 4px solid #007bff;
  animation: loader 2s infinite ease;
}

.app__loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #007bff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(180deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }

  25% {
    height: 0%;
  }

  50% {
    height: 100%;
  }

  75% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}